/*-------------------------
	Grid layout
--------------------------*/

div.grid{
	width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div.grid a:hover div {
  visibility: visible;
}

div.grid div{
	padding: 2px;
  width: 185px;
	/*float:left;*/
}

div.grid div img{
	/*width:280px;*/
	/*height:280px;*/
	border:none;
}

.tooltip {
  visibility: hidden;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: -40px;
  background-color: rgba(255,255,255,0.9);
}